.about-wrapper {

}

.about-container {
    @extend %fcc;
    padding: 40px 0;

    @media #{$tablet} {
        padding: 0;
    }

    @media #{$mobile} {
        padding: 0 20px;
    }


    .title {
        font-size: 30px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $main-color2;
    }

    .line {
        border-top: 7px solid $main-color1;
        width: 80px;
        margin-bottom: 20px;
    }

    .main-text {
        background: $main-color1;
        color: white;
        border-radius: 4px;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
        padding: 10px;
        text-align: justify;
    }

    .work-goals {
        list-style: none;
        padding: 0;

        li {
            @extend %fc;
            justify-content: flex-start;
            margin-bottom: 10px;

            i {
                color: $main-color2;
                margin-right: 10px;
            }
        }
    }

    .first-section {
        @extend %fsb;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 40px;

        @media #{$noDesktop} {
            flex-direction: column-reverse;
            margin-top: 40px;
        }

        .img-container {
            margin-right: 30px;
            width: 100%;
            @extend %fc;

            img {
                max-width: 570px;
                border-top-left-radius: 140px;
                border-bottom-right-radius: 140px;

                @media #{$tablet} {
                    width: 80%;
                }

                @media #{$mobile} {
                    width: 100%;
                    border-top-left-radius: 70px;
                    border-bottom-right-radius: 70px;
                }
            }
        }

        .text-container {

            .text {
                text-align: justify;
            }
        }
    }

    .second-section {
        margin-bottom: 40px;
        text-align: justify;
    }

    .third-section {

        .short-description {
            text-align: justify;
        }

    }
}
