@font-face {
  font-family: "ProximaNovaThin";
  src: url(/fonts/ProximaNova-Thin.ttf?47dd23edd9ce9f2122b8eb54d266d3bf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url(/fonts/ProximaNova-Light.ttf?4e6430d1b1cdd53aab1db777a7684a59) format("truetype");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/fonts/ProximaNova-Regular.ttf?db098dc77c7aafe660e58e9eb280be48) format("truetype");
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url(/fonts/ProximaNova-Semibold.ttf?dfa26f09d155df035c988cf5583a2f6e) format("truetype");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url(/fonts/ProximaNova-Bold.ttf?f3c7fec78a9f7f598801305248ea55e1) format("truetype");
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url(/fonts/ProximaNova-Extrabold.ttf?b27eab22dedaf4921b60477ffbd8e727) format("truetype");
}

.container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.product-item-keeper .media,
#accordion .card__header a,
.metalworking-wrapper .second-section .services__item .text,
.metalworking-wrapper .first-section .img-container,
.media,
.catalogs-container .catalog-keeper .catalog-multiplier .bot-title-box,
.catalogs-container .catalog-keeper,
.brand-container .brand-box__keeper a,
.brand-container .brand-box__brands,
.about-container .first-section .img-container,
.about-container .work-goals li,
.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item-keeper .product-item__description-container,
.product-item-keeper .product-item__img,
.product-container .product-item .product-title-desc-container,
.recovery-wrapper .first-section,
.recovery-wrapper .second-section,
.metalworking-wrapper .second-section .services__item,
.catalogs-container,
.about-container,
.header-container .header-box,
header nav.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-item-keeper .product-item,
.recovery-wrapper .third-section .coating-item,
.metalworking-wrapper .fourth-section .equipment-container,
.metalworking-wrapper .second-section .services,
.metalworking-wrapper .first-section,
.about-container .first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item-keeper .product-item__description-container .description .button-container,
.brand-container .brand-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.aegis-btn {
  text-decoration: none;
  background: #ff5e15;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px 25px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.aegis-btn:hover {
  background: #0a1229;
}

button {
  border: none;
  outline: none;
}

.font-size-10 {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  position: relative;
  overflow: hidden;
  background: white;
}

@media (max-width: 1024px) {
  header.header-desktop {
    display: none;
  }
}

header.header-mobile {
  display: none;
}

@media (max-width: 1024px) {
  header.header-mobile {
    display: flex;
  }
}

header nav {
  border-right: 1px solid lightgrey;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header nav {
    border-right: 1px solid #ff8954;
  }
}

header nav:hover {
  background: url(/images/default_pattern.png?62c0984845815716800fe2e53fdb3365);
  background-position: 520px 0;
  transition: 15s linear;
}

header nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: black;
}

header nav.logo {
  background: #ff5e15;
}

header nav.logo a {
  width: 300px;
}

@media (max-width: 360px) {
  header nav.logo a {
    width: 280px;
  }
}

@media (max-width: 320px) {
  header nav.logo a {
    width: 240px;
  }
}

header nav.logo a img {
  width: 175px;
}

header nav.item-contacts {
  width: 35rem;
  background: #ff5e15;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header nav.item-contacts {
    max-width: 100px;
  }
}

header nav.item-contacts:hover .line-container .line.line-top,
header nav.item-contacts:hover .line-container .line.line-bot {
  width: 2rem;
}

header nav.item-contacts .line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav.item-contacts .line-container .line {
  width: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  margin: 2.5px 0;
  transition: 0.2s ease-in-out;
}

header nav.item-contacts .line-container .line.line-top {
  width: 1rem;
  align-self: flex-start;
}

header nav.item-contacts .line-container .line.line-bot {
  width: 1rem;
  align-self: flex-end;
}

header .translation {
  width: 25rem;
  height: 100%;
}

header .translation__ru,
header .translation__en {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .translation__ru:hover,
header .translation__en:hover {
  color: #ff5e15;
}

.header-container {
  height: 175px;
  background: #002359;
  border-bottom: 10px solid #ff5e15;
  background: url(/images/header-default.png?3a81fc2c0154929848a7b12e0a68bdc4) no-repeat 50% 100%;
}

.header-container .header-box {
  color: white;
  align-items: flex-start;
  height: 100%;
}

.header-container .header-box__title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 6px;
}

.header-container .header-box__text {
  font-size: 14px;
  height: 150px;
}

footer {
  padding-top: 50px;
  background: #0a1229;
}

footer .footer-up {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .footer-up {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  footer .footer-up {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

footer .footer-up__item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .footer-up__item {
    margin-bottom: 30px;
    flex: 0 34%;
  }
}

@media (max-width: 767px) {
  footer .footer-up__item {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

footer .footer-up__item .title {
  outline: none;
  color: white;
  margin: 0 0 30px 0;
}

footer .footer-up__item .title.clickable {
  cursor: pointer;
}

footer .footer-up__item .title.clickable:hover {
  color: #ff5e15;
}

footer .footer-up__item .text {
  color: #9ca5af;
}

footer .footer-up__item .text.text1 {
  margin-bottom: 20px;
}

footer .footer-up__item.services a,
footer .footer-up__item.brands a {
  text-decoration: none;
  margin-bottom: 20px;
}

footer .footer-up__item.services a:hover,
footer .footer-up__item.brands a:hover {
  color: #ff5e15;
}

footer .footer-up__item.contact-us .mat-form-field-label {
  color: #9ca5af !important;
}

footer .footer-up__item.contact-us .mat-input-element::-moz-placeholder {
  color: #75797d !important;
}

footer .footer-up__item.contact-us .mat-input-element:-ms-input-placeholder {
  color: #75797d !important;
}

footer .footer-up__item.contact-us .mat-input-element::placeholder {
  color: #75797d !important;
}

footer .footer-up__item.contact-us .mat-form-field-underline {
  background-color: #9ca5af !important;
}

footer .footer-up__item.contact-us .mat-form-field-ripple {
  background-color: #9ca5af !important;
}

footer .footer-up__item.contact-us input,
footer .footer-up__item.contact-us textarea {
  color: #9ca5af;
}

footer .footer-up__item.contact-us .send-btn[disabled] {
  background-color: #9ca5af;
  cursor: not-allowed;
}

footer .footer-up__item_info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  white-space: pre-wrap;
}

footer .footer-up__item_small-img {
  padding-right: 20px;
}

footer .footer-up__item .brands-link-wrapper {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-up__item .brands-link-wrapper a {
  display: block;
  width: 95px;
}

footer .fronter-down-wrapper {
  border-top: 1px solid #1d263f;
}

@media (max-width: 767px) {
  footer .fronter-down-wrapper {
    border-top: none;
  }
}

footer .footer-down {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  footer .footer-down {
    flex-direction: column;
    align-items: center;
    height: 210px;
  }

  footer .footer-down > div {
    margin-bottom: 20px;
  }

  footer .footer-down > div:last-child {
    margin-bottom: 0;
  }
}

footer .footer-down__logo {
  height: 100%;
  background: #ff5e15;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  footer .footer-down__logo {
    width: 100%;
  }
}

footer .footer-down__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer .footer-down__logo a img {
  width: 175px;
}

footer .footer-down__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-down__copyright span {
  font-size: 12px;
  color: #9ca5af;
}

footer .footer-down__copyright span a {
  color: white;
}

footer .footer-down__copyright span a:hover {
  color: #ff5e15;
}

footer .footer-down__social {
  width: 210px;
  height: 100%;
  display: flex;
  border-right: 1px solid #1d263f;
  border-left: 1px solid #1d263f;
}

@media (max-width: 767px) {
  footer .footer-down__social {
    border-top: 1px solid #1d263f;
  }
}

footer .footer-down__social .social-network {
  width: 70px;
  height: 100%;
  border-right: 1px solid #1d263f;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

footer .footer-down__social .social-network a {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer .footer-down__social .social-network:hover {
  background: #ff5e15;
}

footer .footer-down__social .social-network:last-child {
  border-right: none;
}

#admin-app {
  display: none;
  min-height: 100vh;
  position: relative;
}

.md-menu-content {
  max-width: 500px !important;
}

#admin-app-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9;
  transition: 0.1s ease-in;
}

.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin: 20% auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #448aff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    transform: scale3D(0, 0, 1);
  }
}

.admin-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}

.admin-sidebar-wrapper a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  color: #4e515a !important;
}

.admin-sidebar-wrapper a:hover {
  background: lightgray;
  text-decoration: none;
}

.admin-entity-wrapper {
  width: 100%;
}

.admin-entity-wrapper .md-primary {
  height: 50px;
}

.admin-entity-wrapper .search-input {
  width: 200px;
  margin-right: 20px;
}

.admin-entity-wrapper .img-cell {
  width: 160px;
}

.admin-entity-wrapper .img-cell img {
  height: 40px;
}

.admin-entity-wrapper .option-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.admin-entity-wrapper .option-container a {
  display: block;
  margin-right: 5px;
  transition: 0.1s ease-in;
}

.admin-entity-wrapper .option-container a:hover {
  transform: scale(1.2);
  text-decoration: none;
}

.admin-entity-wrapper .option-container a svg {
  width: 20px;
  height: 20px;
}

.admin-entity-wrapper .md-button.change-position-btn {
  min-width: 160px;
}

.admin-entity-wrapper .alternative-toolbar {
  height: 80px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start div {
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 5px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start div.current-position-sign {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  height: 30px;
  border-radius: 4px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start input {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  border: transparent;
  margin-left: 5px;
  font-size: 16px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start input.active {
  outline: none;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 40px;
}

.pagination .page-item {
  width: 40px;
  height: 40px;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.pagination .page-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination .page-item:last-child {
  border-right: 1px solid #dee2e6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination .page-item.active {
  background: #0a1229;
}

.pagination .page-item.active .page-link {
  color: whitesmoke;
}

.pagination .page-item.disabled {
  color: whitesmoke;
  cursor: not-allowed;
}

.pagination .page-item.disabled .page-link {
  color: lightgray;
}

.pagination .page-item .page-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a1229;
  width: 100%;
  height: 100%;
  transition: 0.1s ease-in;
  background: none !important;
  outline: none;
  border-color: transparent;
}

.pagination .page-item .page-link span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page-item .page-link:hover {
  text-decoration: none;
}

.pagination .page-item .page-link:focus {
  box-shadow: none;
}

.pagination .page-item .page-link .sr-only {
  display: none;
}

.breadcrumbs {
  justify-content: flex-start;
  margin-top: 40px;
  padding: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .breadcrumbs {
    padding-left: 10px;
  }
}

.breadcrumbs__item {
  text-decoration: none;
  font-size: 14px;
  margin-right: 3px;
  font-weight: bolder;
  color: #9e9e9e;
  cursor: pointer;
  text-align: center;
}

.breadcrumbs__item:hover {
  color: #002359;
}

.breadcrumbs__item.current {
  color: #002359;
  pointer-events: none;
}

.breadcrumbs__divider {
  color: #9e9e9e;
}

.about-container {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .about-container {
    padding: 0 20px;
  }
}

.about-container .title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #002359;
}

.about-container .line {
  border-top: 7px solid #ff5e15;
  width: 80px;
  margin-bottom: 20px;
}

.about-container .main-text {
  background: #ff5e15;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  text-align: justify;
}

.about-container .work-goals {
  list-style: none;
  padding: 0;
}

.about-container .work-goals li {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.about-container .work-goals li i {
  color: #002359;
  margin-right: 10px;
}

.about-container .first-section {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container .first-section {
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .about-container .first-section {
    flex-direction: column-reverse;
  }
}

.about-container .first-section .img-container {
  margin-right: 30px;
  width: 100%;
}

.about-container .first-section .img-container img {
  max-width: 570px;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container .first-section .img-container img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .about-container .first-section .img-container img {
    width: 100%;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }
}

.about-container .first-section .text-container .text {
  text-align: justify;
}

.about-container .second-section {
  margin-bottom: 40px;
  text-align: justify;
}

.about-container .third-section .short-description {
  text-align: justify;
}

.news-wrapper {
  height: 100%;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.news-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2vw;
  font-size: 1.2rem;
  line-height: 20px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .news-container {
    flex-direction: column;
  }
}

.news-container .news-block-link {
  text-decoration: none;
}

.news-container .news-block {
  width: 22vw;
  margin-bottom: 40px;
  margin-right: 2vw;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.1s ease-in;
}

@media (max-width: 1024px) {
  .news-container .news-block {
    width: 100%;
  }
}

.news-container .news-block:hover {
  box-shadow: 0 0 6px 0px grey;
}

.news-container .news-block__header .news-image {
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (max-width: 1024px) {
  .news-container .news-block__header .news-image {
    background-size: contain;
  }
}

.news-container .news-block__content {
  height: 160px;
  padding: 5px;
}

@media (max-width: 1024px) {
  .news-container .news-block__content {
    height: auto;
  }
}

.news-container .news-block__title {
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
  color: black;
}

@media (max-width: 1024px) {
  .news-container .news-block__title {
    height: auto;
  }
}

.news-container .news-block__short-text {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
  color: black;
}

.news-container .news-block__actions {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.news-container .news-block__actions .action-btn {
  color: whitesmoke;
  background: #002359;
  font-weight: 300;
  font-size: 14px;
}

.news-container .news-block__date {
  height: 100%;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  color: black;
}

.news-item-wrapper {
  display: flex;
  flex-direction: column;
}

.news-item-container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  min-height: 339px;
}

.news-item-container img {
  margin-bottom: 40px;
}

.catalog-home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 800px;
}

.brand-container {
  min-height: 400px;
  margin-bottom: 100px;
}

.brand-container .brand-box {
  align-items: flex-start;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .brand-container .brand-box {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .brand-container .brand-box {
    align-items: center;
  }
}

.brand-container .brand-box__title {
  color: #002359;
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 50px 0 50px 0;
}

@media (max-width: 767px) {
  .brand-container .brand-box__title {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .brand-container .brand-box__title {
    font-size: 30px;
  }
}

.brand-container .brand-box__brands {
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .brand-container .brand-box__brands {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .brand-container .brand-box__brands {
    justify-content: space-evenly;
  }
}

.brand-container .brand-box__keeper {
  width: 250px;
  height: 100px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-right: 36px;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .brand-container .brand-box__keeper {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .brand-container .brand-box__keeper {
    margin-right: 0;
  }
}

.brand-container .brand-box__keeper a {
  width: 100%;
  height: 100%;
}

.brand-container .brand-box__keeper:nth-child(4n) {
  margin-right: 0;
}

.brand-container .brand-box__keeper:hover {
  border: 1px solid transparent;
  border-left: 10px solid #ff5e15;
}

.brand-container .brand-box__keeper:hover .brand-box__img {
  filter: grayscale(0);
}

.brand-container .brand-box__keeper.active {
  border: 1px solid transparent;
  background: #ff5e15;
}

.brand-container .brand-box__keeper.active .brand-box__img {
  filter: grayscale(0);
}

.brand-container .brand-box__img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 75px;
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .brand-container .brand-box__img {
    filter: grayscale(0);
  }
}

.catalog-item-wrapper {
  display: flex;
  flex-direction: column;
}

.brand-description {
  margin-bottom: 40px;
  min-height: 500px;
}

.catalogs-container {
  margin-bottom: 40px;
  width: 100%;
}

.catalogs-container .catalog-keeper {
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .catalogs-container .catalog-keeper {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .catalogs-container .catalog-keeper {
    justify-content: space-evenly;
  }
}

.catalogs-container .catalog-keeper .catalog-multiplier {
  border: 1px solid lightgrey;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-right: 47px;
  margin-bottom: 47px;
}

.catalogs-container .catalog-keeper .catalog-multiplier:nth-child(4n) {
  margin-right: 0;
}

.catalogs-container .catalog-keeper .catalog-multiplier:hover {
  box-shadow: 0 0 6px 0px gray;
  border: 1px solid transparent;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .catalogs-container .catalog-keeper .catalog-multiplier {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .catalogs-container .catalog-keeper .catalog-multiplier {
    margin-right: 0;
  }
}

.catalogs-container .catalog-keeper .catalog-multiplier__link {
  text-decoration: none;
}

.catalogs-container .catalog-keeper .catalog-multiplier__cover {
  border-radius: 10px;
  padding: 10px;
  display: block;
  height: 240px;
  width: 227px;
  overflow: hidden;
}

.catalogs-container .catalog-keeper .catalog-multiplier .bot-title-box {
  justify-content: flex-start;
  padding: 10px 0;
  width: 240px;
}

.catalogs-container .catalog-keeper .catalog-multiplier .bot-title-box__img {
  width: 25px;
  margin: 0 10px;
}

.catalogs-container .catalog-keeper .catalog-multiplier .bot-title-box__text {
  color: #002359;
  font-weight: bold;
  font-size: 10px;
}

.media > div {
  width: 600px;
  height: 400px;
}

.services-wrapper {
  background: #0a1229;
}

.services-wrapper .first-section {
  height: calc(100vh - 160px);
  display: flex;
  position: relative;
  overflow: hidden;
}

.services-wrapper .first-section-left-sector,
.services-wrapper .first-section-right-sector {
  filter: brightness(1.15) contrast(0.75);
}

.services-wrapper .first-section-left-sector {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/services-metalworking-left.png?4eb11cc462ced0df0260ed49c3f3a489) no-repeat;
  transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .services-wrapper .first-section-left-sector {
    background-size: 60%;
  }
}

.services-wrapper .first-section-right-sector {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(/images/services-recovery-right.png?a755054c1684d7d5b695c94cce64b134) no-repeat 100% 50%;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .services-wrapper .first-section-right-sector {
    background-position: 50% 60%;
  }
}

.services-wrapper .first-section-sq-sector {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .services-wrapper .first-section-sq-sector {
    display: none;
  }
}

@media (max-width: 767px) {
  .services-wrapper .first-section-sq-sector {
    display: none;
  }
}

.services-wrapper .first-section-sq-sector .sq-sector-item {
  width: 308px;
  height: 615px;
  transition: 0.7s ease-in-out;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .services-wrapper .first-section-sq-sector .sq-sector-item {
    width: 220px;
    height: auto;
  }
}

.services-wrapper .first-section-sq-sector__left {
  position: absolute;
  left: -308px;
  z-index: 3;
  -webkit-animation: sq-from-left 0.8s forwards;
          animation: sq-from-left 0.8s forwards;
}

.services-wrapper .first-section-sq-sector__right {
  position: absolute;
  right: -308px;
  z-index: 3;
  -webkit-animation: sq-from-right 0.8s forwards;
          animation: sq-from-right 0.8s forwards;
}

.services-wrapper .first-section-goToService-sector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .services-wrapper .first-section-goToService-sector {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .services-wrapper .first-section-goToService-sector {
    flex-direction: column;
  }
}

.services-wrapper .first-section-goToService-sector .goToService-sector-item {
  width: 470px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .services-wrapper .first-section-goToService-sector .goToService-sector-item {
    width: auto;
    height: auto;
  }
}

.services-wrapper .first-section-goToService-sector .goToService-sector-item .title-box {
  border: 1px solid #1d263f;
  color: white;
  background: rgba(0, 35, 89, 0.7);
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 15px 20px;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .services-wrapper .first-section-goToService-sector .goToService-sector-item .title-box {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .services-wrapper .first-section-goToService-sector .goToService-sector-item .title-box {
    max-width: 80%;
  }
}

@media (max-width: 320px) {
  .services-wrapper .first-section-goToService-sector .goToService-sector-item .title-box {
    font-size: 20px;
  }
}

.services-wrapper .first-section-goToService-sector .goToService-sector-item .title-box-right {
  text-align: right;
}

.services-wrapper .first-section-goToService-sector .goToService-sector-item .goToService-btn {
  text-decoration: none;
  padding: 15px 20px;
  background: #ff5e15;
  color: white;
  border-radius: 3px;
  font-weight: bolder;
  font-size: 18px;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .services-wrapper .first-section-goToService-sector .goToService-sector-item .goToService-btn {
    font-size: 14px;
    padding: 10px 15px;
  }
}

.services-wrapper .first-section-goToService-sector .goToService-sector-item .goToService-btn:hover {
  background: #002359;
}

.services-wrapper .first-section-goToService-sector__left {
  align-items: flex-end !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .services-wrapper .first-section-goToService-sector__left {
    align-items: center !important;
  }
}

@media (max-width: 767px) {
  .services-wrapper .first-section-goToService-sector__left {
    align-items: center !important;
  }
}

.services-wrapper .first-section-goToService-sector__right {
  align-items: flex-start !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .services-wrapper .first-section-goToService-sector__right {
    align-items: center !important;
  }
}

@media (max-width: 767px) {
  .services-wrapper .first-section-goToService-sector__right {
    align-items: center !important;
  }
}

.services-wrapper .second-section {
  height: 40px;
  border-bottom: 10px solid #ff5e15;
}

@-webkit-keyframes sq-from-left {
  100% {
    transform: translate3d(308px, 0, 0);
  }
}

@keyframes sq-from-left {
  100% {
    transform: translate3d(308px, 0, 0);
  }
}

@-webkit-keyframes sq-from-right {
  100% {
    transform: translate3d(-308px, 0, 0);
  }
}

@keyframes sq-from-right {
  100% {
    transform: translate3d(-308px, 0, 0);
  }
}

.fadeInFromTop {
  -webkit-animation: fadeInFromTop 0.8s forwards;
          animation: fadeInFromTop 0.8s forwards;
}

.fadeInFromLeft {
  -webkit-animation: fadeInFromLeft 0.9s forwards;
          animation: fadeInFromLeft 0.9s forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.fadeInFromRight {
  -webkit-animation: fadeInFromRight 0.9s forwards;
          animation: fadeInFromRight 0.9s forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.services-metalworking-home-wrapper {
  display: flex;
  flex-direction: column;
}

.metalworking-wrapper {
  margin-top: 40px;
}

.metalworking-wrapper .title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #002359;
}

.metalworking-wrapper .line {
  border-top: 7px solid #ff5e15;
  width: 80px;
  margin-bottom: 20px;
}

.metalworking-wrapper .text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: justify;
}

.metalworking-wrapper .first-section {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .metalworking-wrapper .first-section {
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .metalworking-wrapper .first-section {
    flex-direction: column-reverse;
  }
}

.metalworking-wrapper .first-section .img-container {
  margin-right: 30px;
  width: 100%;
}

.metalworking-wrapper .first-section .img-container img {
  width: 570px;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .metalworking-wrapper .first-section .img-container img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .metalworking-wrapper .first-section .img-container img {
    width: 100%;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }
}

.metalworking-wrapper .second-section {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .metalworking-wrapper .second-section .services {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .metalworking-wrapper .second-section .services {
    flex-direction: column;
  }
}

.metalworking-wrapper .second-section .services__item {
  border-radius: 4px;
  width: 250px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .metalworking-wrapper .second-section .services__item {
    flex: 0 34%;
    margin-bottom: 40px;
  }
}

.metalworking-wrapper .second-section .services__item .img {
  width: 100%;
  height: 175px;
  background-size: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.metalworking-wrapper .second-section .services__item .img.tokar {
  background-image: url(/images/metalworking-service-1.jpg?6ca9e31f0f2c6aa91cbff900acbec6c3);
}

.metalworking-wrapper .second-section .services__item .img.frez {
  background-image: url(/images/metalworking-service-2.jpg?9f4e85baccd87850530566b29f1332ef);
}

.metalworking-wrapper .second-section .services__item .img.termo {
  background-image: url(/images/metalworking-service-3.jpg?e067858c562942e282b3d0df2f39e1de);
}

.metalworking-wrapper .second-section .services__item .img.nakat {
  background-image: url(/images/metalworking-service-4.jpg?04806d0bbd6d660bcc57a67916cef261);
}

.metalworking-wrapper .second-section .services__item .text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  height: 46px;
  color: #002359;
}

.metalworking-wrapper .third-section {
  margin-bottom: 40px;
}

.metalworking-wrapper .fourth-section {
  margin-bottom: 40px;
}

.metalworking-wrapper .fourth-section .equipment-container {
  align-items: flex-start;
  flex-wrap: wrap;
  height: 600px;
}

.metalworking-wrapper .fourth-section .equipment-container .carousel-inner {
  height: 600px;
}

.metalworking-wrapper .fourth-section .equipment-container .carousel-inner .carousel-item .carousel-image {
  width: 1140px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.metalworking-wrapper .fourth-section .equipment-container .carousel-control-prev,
.metalworking-wrapper .fourth-section .equipment-container .carousel-control-next {
  background: lightgray;
}

.services-metalworking-home-wrapper {
  display: flex;
  flex-direction: column;
}

.recovery-wrapper {
  margin-top: 20px;
}

.recovery-wrapper .title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #002359;
}

.recovery-wrapper .line {
  border-top: 7px solid #ff5e15;
  width: 80px;
  margin-bottom: 20px;
}

.recovery-wrapper .first-section,
.recovery-wrapper .second-section {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

.recovery-wrapper .first-section .img-container,
.recovery-wrapper .second-section .img-container {
  width: 100%;
}

.recovery-wrapper .first-section .img-container img,
.recovery-wrapper .second-section .img-container img {
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.recovery-wrapper .first-section .text-container,
.recovery-wrapper .second-section .text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.recovery-wrapper .first-section .text-container .text,
.recovery-wrapper .second-section .text-container .text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: justify;
}

.recovery-wrapper .third-section {
  margin-bottom: 50px;
}

.recovery-wrapper .third-section .coating-item {
  margin-bottom: 20px;
  background: #f7fafd;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 16px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 300;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
  .recovery-wrapper .third-section .coating-item {
    flex-direction: column;
  }
}

.recovery-wrapper .third-section .coating-item img {
  width: 300px;
  padding-right: 16px;
  flex-shrink: 0;
}

.recovery-wrapper .third-section .coating-item__text {
  margin-bottom: 0;
}

.recovery-wrapper .third-section .coating-item__header {
  display: flex;
  flex-direction: row;
}

.recovery-wrapper .third-section .coating-item__title {
  font-weight: 700;
  color: #002359;
  font-size: 20px;
  margin-bottom: 12px;
}

.recovery-wrapper .third-section .coating-item__spec {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  box-sizing: border-box;
}

.recovery-wrapper .third-section .coating-item__description {
  text-align: justify;
}

.home-product-wrapper {
  padding: 0;
  margin-top: 40px;
  position: relative;
}

.home-product-wrapper .content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
}

.home-product-wrapper .breadcrumbs {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
}

.navigation-container .category-title {
  font-size: 26px;
  margin-bottom: 40px;
}

#accordion {
  box-sizing: border-box;
  width: 350px;
}

#accordion .card {
  margin-bottom: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
  border: none;
}

#accordion .card:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#accordion .card:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#accordion .card__header {
  background: #002359;
  height: 60px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: inherit;
}

#accordion .card__header.active {
  background: #ff5e15;
}

#accordion .card__header a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#accordion .card__header a button {
  color: white;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 3px 25px;
}

#accordion .card__header a button:hover {
  text-decoration: none;
}

#accordion .card__header .text {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
}

#accordion .card__body {
  width: 100%;
}

#accordion .card__body a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 5px 5px 15px;
  color: black;
  text-decoration: none;
  width: 100%;
  font-size: 13px;
  font-weight: 300;
}

#accordion .card__body a:hover {
  background: #e9e9e9;
}

.product-wrapper {
  width: 725px;
  min-height: 930px;
  display: flex;
  flex-direction: column;
}

.product-wrapper .selected-name {
  font-size: 26px;
  margin-bottom: 40px;
}

.product-container {
  margin-bottom: 50px;
  min-height: 800px;
}

.product-container .product-item {
  display: flex;
  margin-bottom: 15px;
  height: 150px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .product-container .product-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

.product-container .product-item__title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}

.product-container .product-item__content {
  font-size: 14px;
  font-weight: 300;
}

.product-container .product-item__actions {
  font-weight: 300;
  padding-top: 20px;
}

.product-container .product-item__actions .price {
  white-space: nowrap;
  font-size: 13px;
  padding: 7px 15px;
}

.product-container .product-item__actions .more {
  font-size: 13px;
  text-align: center;
  padding: 8px 15px;
}

.product-container .product-item:hover {
  box-shadow: 0px 0px 5px 0px black;
}

.product-container .product-item .product-img {
  height: 120px;
  max-width: 150px;
  width: 500px;
  margin-right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-container .product-item .product-title-desc-container {
  align-items: flex-start;
  margin-right: 16px;
}

@media (max-width: 767px) {
  .product-container .product-item .product-title-desc-container {
    align-items: center;
  }
}

.product-container .product-item .button-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .product-container .product-item .button-container {
    margin-left: 0;
  }
}

.product-container .product-item .button-container .price {
  background: #ff5e15;
  color: white;
  margin-bottom: 10px;
}

.product-container .product-item .button-container .more {
  background: #002359;
  color: white;
  text-decoration: none;
}

.product-home-cloak {
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 100%;
  min-height: 930px;
  background: white;
  z-index: 9;
  transition: 0.1s ease-in;
}

.product-item-keeper .product-item {
  align-items: flex-start;
  width: 100%;
  min-height: 250px;
}

@media (max-width: 767px) {
  .product-item-keeper .product-item {
    flex-direction: column;
    align-items: center;
  }
}

.product-item-keeper .product-item__img {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .product-item-keeper .product-item__img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.product-item-keeper .product-item__img img {
  max-width: 600px;
  max-height: 250px;
}

.product-item-keeper .product-item__description-container {
  align-items: flex-start;
  width: 445px;
}

@media (max-width: 767px) {
  .product-item-keeper .product-item__description-container {
    width: 100%;
    align-items: center;
  }
}

.product-item-keeper .product-item__description-container mat-tab-group {
  width: 100%;
  margin-bottom: 20px;
}

.product-item-keeper .product-item__description-container .head {
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
}

.product-item-keeper .product-item__description-container .description {
  width: 100%;
  padding: 10px 5px;
}

.product-item-keeper .product-item__description-container .description .text {
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  background: #f7fafd;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.product-item-keeper .product-item__description-container .description .button-container {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .product-item-keeper .product-item__description-container .description .button-container {
    flex-direction: column;
  }
}

.product-item-keeper .product-item__description-container .description .button-container .threeBtns {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 155px;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  text-align: left;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  vertical-align: baseline;
  min-width: 64px;
  line-height: 36px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}

.product-item-keeper .product-item__description-container .description .button-container .threeBtns i {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .product-item-keeper .product-item__description-container .description .button-container .threeBtns {
    margin-bottom: 20px;
  }
}

.product-item-keeper .product-item__description-container .description .button-container .threeBtns:hover {
  color: black;
}

.product-item-keeper .product-item__description-container .description .button-container__order-btn {
  color: white !important;
  padding: 0 5px;
  width: 155px;
  background: #002359;
}

@media only screen and (min-width: 1025px) and (max-width: 1479px) {
  .product-item-keeper .spec {
    overflow-x: scroll;
  }
}

@media (max-width: 1024px) {
  .product-item-keeper .spec {
    overflow-x: scroll;
  }
}

.product-item-keeper .spec .description {
  margin-bottom: 20px;
}

.product-item-keeper .spec .specification {
  margin-bottom: 20px;
}

.product-item-keeper thead {
  background: #d8f0ff;
}

.product-item-keeper tr:nth-child(even) {
  background: #f2faff;
}

.product-item-keeper td {
  border-right: 1px solid #dee2e6;
}

.product-item-keeper tbody {
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.product-item-keeper .text-small {
  font-size: 12px;
}

.product-item-keeper .text-tiny {
  font-size: 10px;
}

.product-item-keeper .text-big {
  font-size: 18px;
}

.product-item-keeper .text-huge {
  font-size: 22px;
}

.product-item-keeper .media > div {
  width: 435px;
  height: 400px;
}

@media (max-width: 1024px) {
  .product-item-keeper .media > div {
    height: auto;
  }
}
