@font-face {
  font-family: "ProximaNovaThin";
  src: url(/fonts/ProximaNova-Thin.ttf?47dd23edd9ce9f2122b8eb54d266d3bf) format("truetype");
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url(/fonts/ProximaNova-Light.ttf?4e6430d1b1cdd53aab1db777a7684a59) format("truetype");
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url(/fonts/ProximaNova-Regular.ttf?db098dc77c7aafe660e58e9eb280be48) format("truetype");
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url(/fonts/ProximaNova-Semibold.ttf?dfa26f09d155df035c988cf5583a2f6e) format("truetype");
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url(/fonts/ProximaNova-Bold.ttf?f3c7fec78a9f7f598801305248ea55e1) format("truetype");
}

@font-face {
  font-family: "ProximaNovaBlack";
  src: url(/fonts/ProximaNova-Extrabold.ttf?b27eab22dedaf4921b60477ffbd8e727) format("truetype");
}

.container {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.about-container .first-section .img-container,
.about-container .work-goals li,
.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container,
.header-container .header-box,
header nav.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-container .first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aegis-btn {
  text-decoration: none;
  background: #ff5e15;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px 25px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.aegis-btn:hover {
  background: #0a1229;
}

button {
  border: none;
  outline: none;
}

.font-size-10 {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  position: relative;
  overflow: hidden;
  background: white;
}

@media (max-width: 1024px) {
  header.header-desktop {
    display: none;
  }
}

header.header-mobile {
  display: none;
}

@media (max-width: 1024px) {
  header.header-mobile {
    display: flex;
  }
}

header nav {
  border-right: 1px solid lightgrey;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  header nav {
    border-right: 1px solid #ff8954;
  }
}

header nav:hover {
  background: url(/images/default_pattern.png?62c0984845815716800fe2e53fdb3365);
  background-position: 520px 0;
  transition: 15s linear;
}

header nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: black;
}

header nav.logo {
  background: #ff5e15;
}

header nav.logo a {
  width: 300px;
}

@media (max-width: 360px) {
  header nav.logo a {
    width: 280px;
  }
}

@media (max-width: 320px) {
  header nav.logo a {
    width: 240px;
  }
}

header nav.logo a img {
  width: 175px;
}

header nav.item-contacts {
  width: 35rem;
  background: #ff5e15;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header nav.item-contacts {
    max-width: 100px;
  }
}

header nav.item-contacts:hover .line-container .line.line-top,
header nav.item-contacts:hover .line-container .line.line-bot {
  width: 2rem;
}

header nav.item-contacts .line-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav.item-contacts .line-container .line {
  width: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  margin: 2.5px 0;
  transition: 0.2s ease-in-out;
}

header nav.item-contacts .line-container .line.line-top {
  width: 1rem;
  align-self: flex-start;
}

header nav.item-contacts .line-container .line.line-bot {
  width: 1rem;
  align-self: flex-end;
}

header .translation {
  width: 25rem;
  height: 100%;
}

header .translation__ru,
header .translation__en {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .translation__ru:hover,
header .translation__en:hover {
  color: #ff5e15;
}

.header-container {
  height: 175px;
  background: #002359;
  border-bottom: 10px solid #ff5e15;
  background: url(/images/header-default.png?3a81fc2c0154929848a7b12e0a68bdc4) no-repeat 50% 100%;
}

.header-container .header-box {
  color: white;
  align-items: flex-start;
  height: 100%;
}

.header-container .header-box__title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 6px;
}

.header-container .header-box__text {
  font-size: 14px;
  height: 150px;
}

footer {
  padding-top: 50px;
  background: #0a1229;
}

footer .footer-up {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .footer-up {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  footer .footer-up {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

footer .footer-up__item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .footer-up__item {
    margin-bottom: 30px;
    flex: 0 34%;
  }
}

@media (max-width: 767px) {
  footer .footer-up__item {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

footer .footer-up__item .title {
  outline: none;
  color: white;
  margin: 0 0 30px 0;
}

footer .footer-up__item .title.clickable {
  cursor: pointer;
}

footer .footer-up__item .title.clickable:hover {
  color: #ff5e15;
}

footer .footer-up__item .text {
  color: #9ca5af;
}

footer .footer-up__item .text.text1 {
  margin-bottom: 20px;
}

footer .footer-up__item.services a,
footer .footer-up__item.brands a {
  text-decoration: none;
  margin-bottom: 20px;
}

footer .footer-up__item.services a:hover,
footer .footer-up__item.brands a:hover {
  color: #ff5e15;
}

footer .footer-up__item.contact-us .mat-form-field-label {
  color: #9ca5af !important;
}

footer .footer-up__item.contact-us .mat-input-element::-moz-placeholder {
  color: #75797d !important;
}

footer .footer-up__item.contact-us .mat-input-element:-ms-input-placeholder {
  color: #75797d !important;
}

footer .footer-up__item.contact-us .mat-input-element::placeholder {
  color: #75797d !important;
}

footer .footer-up__item.contact-us .mat-form-field-underline {
  background-color: #9ca5af !important;
}

footer .footer-up__item.contact-us .mat-form-field-ripple {
  background-color: #9ca5af !important;
}

footer .footer-up__item.contact-us input,
footer .footer-up__item.contact-us textarea {
  color: #9ca5af;
}

footer .footer-up__item.contact-us .send-btn[disabled] {
  background-color: #9ca5af;
  cursor: not-allowed;
}

footer .footer-up__item_info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  white-space: pre-wrap;
}

footer .footer-up__item_small-img {
  padding-right: 20px;
}

footer .footer-up__item .brands-link-wrapper {
  width: 190px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-up__item .brands-link-wrapper a {
  display: block;
  width: 95px;
}

footer .fronter-down-wrapper {
  border-top: 1px solid #1d263f;
}

@media (max-width: 767px) {
  footer .fronter-down-wrapper {
    border-top: none;
  }
}

footer .footer-down {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  footer .footer-down {
    flex-direction: column;
    align-items: center;
    height: 210px;
  }

  footer .footer-down > div {
    margin-bottom: 20px;
  }

  footer .footer-down > div:last-child {
    margin-bottom: 0;
  }
}

footer .footer-down__logo {
  height: 100%;
  background: #ff5e15;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  footer .footer-down__logo {
    width: 100%;
  }
}

footer .footer-down__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer .footer-down__logo a img {
  width: 175px;
}

footer .footer-down__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-down__copyright span {
  font-size: 12px;
  color: #9ca5af;
}

footer .footer-down__copyright span a {
  color: white;
}

footer .footer-down__copyright span a:hover {
  color: #ff5e15;
}

footer .footer-down__social {
  width: 210px;
  height: 100%;
  display: flex;
  border-right: 1px solid #1d263f;
  border-left: 1px solid #1d263f;
}

@media (max-width: 767px) {
  footer .footer-down__social {
    border-top: 1px solid #1d263f;
  }
}

footer .footer-down__social .social-network {
  width: 70px;
  height: 100%;
  border-right: 1px solid #1d263f;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

footer .footer-down__social .social-network a {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

footer .footer-down__social .social-network:hover {
  background: #ff5e15;
}

footer .footer-down__social .social-network:last-child {
  border-right: none;
}

#admin-app {
  display: none;
  min-height: 100vh;
  position: relative;
}

.md-menu-content {
  max-width: 500px !important;
}

#admin-app-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9;
  transition: 0.1s ease-in;
}

.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin: 20% auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #448aff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }

  35% {
    transform: scale3D(0, 0, 1);
  }
}

.admin-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}

.admin-sidebar-wrapper a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  color: #4e515a !important;
}

.admin-sidebar-wrapper a:hover {
  background: lightgray;
  text-decoration: none;
}

.admin-entity-wrapper {
  width: 100%;
}

.admin-entity-wrapper .md-primary {
  height: 50px;
}

.admin-entity-wrapper .search-input {
  width: 200px;
  margin-right: 20px;
}

.admin-entity-wrapper .img-cell {
  width: 160px;
}

.admin-entity-wrapper .img-cell img {
  height: 40px;
}

.admin-entity-wrapper .option-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.admin-entity-wrapper .option-container a {
  display: block;
  margin-right: 5px;
  transition: 0.1s ease-in;
}

.admin-entity-wrapper .option-container a:hover {
  transform: scale(1.2);
  text-decoration: none;
}

.admin-entity-wrapper .option-container a svg {
  width: 20px;
  height: 20px;
}

.admin-entity-wrapper .pagination {
  list-style: none;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-right: 30px;
}

.admin-entity-wrapper .pagination li {
  border-left: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.admin-entity-wrapper .pagination li:first-child {
  border-left: none;
}

.admin-entity-wrapper .pagination li.active {
  background: #2d3748;
  border: none;
}

.admin-entity-wrapper .pagination li.active a {
  color: white;
}

.admin-entity-wrapper .pagination li a {
  transition: 0.1s ease-in;
}

.admin-entity-wrapper .pagination li a:hover {
  text-decoration: none;
}

.admin-entity-wrapper .pagination li a .sr-only {
  display: none;
}

.admin-entity-wrapper .md-button.change-position-btn {
  min-width: 160px;
}

.admin-entity-wrapper .alternative-toolbar {
  height: 80px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start div {
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 5px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start div.current-position-sign {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  height: 30px;
  border-radius: 4px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start input {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  border: transparent;
  margin-left: 5px;
  font-size: 16px;
}

.admin-entity-wrapper .alternative-toolbar .md-toolbar-section-start input.active {
  outline: none;
}

.pagination-container nav .pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 4vw;
}

.pagination-container nav .pagination .page-item {
  width: 40px;
  height: 40px;
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container nav .pagination .page-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination-container nav .pagination .page-item:last-child {
  border-right: 1px solid #dee2e6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination-container nav .pagination .page-item.active {
  background: #0a1229;
}

.pagination-container nav .pagination .page-item.active .page-link {
  color: whitesmoke;
}

.pagination-container nav .pagination .page-item.disabled {
  color: whitesmoke;
  cursor: not-allowed;
}

.pagination-container nav .pagination .page-item.disabled .page-link {
  color: lightgray;
}

.pagination-container nav .pagination .page-item .page-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a1229;
}

.breadcrumbs {
  justify-content: flex-start;
  margin-top: 40px;
  padding: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .breadcrumbs {
    padding-left: 10px;
  }
}

.breadcrumbs__item {
  text-decoration: none;
  font-size: 14px;
  margin-right: 3px;
  font-weight: bolder;
  color: #9e9e9e;
  cursor: pointer;
  text-align: center;
}

.breadcrumbs__item:hover {
  color: #002359;
}

.breadcrumbs__item.current {
  color: #002359;
  pointer-events: none;
}

.breadcrumbs__divider {
  color: #9e9e9e;
}

.about-container {
  padding: 40px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .about-container {
    padding: 0 20px;
  }
}

.about-container .title {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #002359;
}

.about-container .line {
  border-top: 7px solid #ff5e15;
  width: 80px;
  margin-bottom: 20px;
}

.about-container .main-text {
  background: #ff5e15;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  text-align: justify;
}

.about-container .work-goals {
  list-style: none;
  padding: 0;
}

.about-container .work-goals li {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.about-container .work-goals li i {
  color: #002359;
  margin-right: 10px;
}

.about-container .first-section {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container .first-section {
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .about-container .first-section {
    flex-direction: column-reverse;
  }
}

.about-container .first-section .img-container {
  margin-right: 30px;
  width: 100%;
}

.about-container .first-section .img-container img {
  max-width: 570px;
  border-top-left-radius: 140px;
  border-bottom-right-radius: 140px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container .first-section .img-container img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .about-container .first-section .img-container img {
    width: 100%;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }
}

.about-container .first-section .text-container .text {
  text-align: justify;
}

.about-container .second-section {
  margin-bottom: 40px;
  text-align: justify;
}

.about-container .third-section .short-description {
  text-align: justify;
}

.news-wrapper {
  height: 100%;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2vw;
  font-size: 1.2rem;
  line-height: 20px;
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .news-container {
    flex-direction: column;
  }
}

.news-container .news-block {
  width: 22vw;
  margin-bottom: 40px;
  margin-right: 2vw;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .news-container .news-block {
    width: 100%;
  }
}

.news-container .news-block__header .news-image {
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (max-width: 1024px) {
  .news-container .news-block__header .news-image {
    background-size: contain;
  }
}

.news-container .news-block__content {
  height: 160px;
  padding: 5px;
}

@media (max-width: 1024px) {
  .news-container .news-block__content {
    height: auto;
  }
}

.news-container .news-block__title {
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .news-container .news-block__title {
    height: auto;
  }
}

.news-container .news-block__short-text {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 5px;
}

.news-container .news-block__actions {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.news-container .news-block__actions a {
  color: whitesmoke;
  background: #002359;
  font-weight: 300;
  font-size: 14px;
}

.news-container .news-block__date {
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
}

.news-item-wrapper {
  display: flex;
  flex-direction: column;
}

.news-item-container {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  min-height: 339px;
}

.news-item-container img {
  margin-bottom: 40px;
}
