.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    margin-bottom: 40px;

    .page-item {
        width: 40px;
        height: 40px;
        border-left: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;

        //border-radius: 3px;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-right: 1px solid #dee2e6;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &.active {
            background: $main-color3;

            .page-link {
                color: whitesmoke;
            }
        }

        &.disabled {
            color: whitesmoke;
            cursor: not-allowed;

            .page-link {
                color: lightgray;
            }
        }

        &:hover {
        }

        .page-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $main-color3;
            width: 100%;
            height: 100%;
            transition: .1s ease-in;
            background: none!important;
            outline: none;
            border-color: transparent;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                text-decoration: none;
            }

            &:focus {
                box-shadow: none;
            }

            .sr-only {
                display: none;
            }
        }
    }
}

.breadcrumbs {
    @extend %fc;
    justify-content: flex-start;
    margin-top: 40px;
    padding: 0;
    width: 100%;

    @media #{$noDesktop} {
        padding-left: 10px;
    }

    &__item {
        text-decoration: none;
        font-size: 14px;
        margin-right: 3px;
        font-weight: bolder;
        color: #9e9e9e;
        cursor: pointer;
        text-align: center;

        &:hover {
            color: $main-color2;
        }

        &.current {
            color: $main-color2;
            pointer-events: none;
        }
    }

    &__divider {
        color: #9e9e9e;
    }
}
