.services-wrapper {
    background: $main-color3;

    .first-section {
        height: calc(100vh - 160px);
        display: flex;
        position: relative;
        overflow: hidden;

        &-left-sector, &-right-sector {
            filter: brightness(1.15) contrast(0.75);
        }

        &-left-sector {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/background/services-metalworking-left.png") no-repeat;
            transition: .3s ease-in-out;

            @media #{$normalDesktop} {
                background-size: 60%;
            }
        }

        &-right-sector {
            position: absolute;
            right: 0;
            top: 0px;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: url("/img/background/services-recovery-right.png") no-repeat 100% 50%;

            @media #{$normalDesktop} {
                background-position: 50% 60%;
            }
        }

        &-sq-sector {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$tablet} {
                display: none;
            }

            @media #{$mobile} {
                display: none;
            }

            .sq-sector-item {
                width: 308px;
                height: 615px;
                transition: .7s ease-in-out;
                animation-delay: 1.2s;

                @media #{$normalDesktop} {
                    width: 220px;
                    height: auto;
                }
            }

            &__left {
                position: absolute;
                left: -308px;
                z-index: 3;
                animation: sq-from-left .8s forwards;
            }

            &__right {
                position: absolute;
                right: -308px;
                z-index: 3;
                animation: sq-from-right .8s forwards;
            }
        }

        &-goToService-sector {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media #{$tablet} {
                flex-direction: column;
            }

            @media #{$mobile} {
                flex-direction: column;
            }

            .goToService-sector-item {
                width: 470px;
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                @media #{$normalDesktop} {
                    width: auto;
                    height: auto;
                }


                .title-box {
                    border: 1px solid $main-color4;
                    color: white;
                    background: rgba(0, 35, 89, 0.7);
                    font-size: 30px;
                    font-weight: bolder;
                    text-transform: uppercase;
                    padding: 15px 20px;

                    @media #{$normalDesktop} {
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    @media #{$mobile} {
                        max-width: 80%;
                    }

                    @media #{$mobile320} {
                        font-size: 20px;
                    }
                }

                .title-box-right {
                    text-align: right;
                }

                .goToService-btn {
                    text-decoration: none;
                    padding: 15px 20px;
                    background: $main-color1;
                    color: white;
                    border-radius: 3px;
                    font-weight: bolder;
                    font-size: 18px;

                    @media #{$normalDesktop} {
                        font-size: 14px;
                        padding: 10px 15px;
                    }

                    &:hover {
                        background: $main-color2;
                    }
                }
            }

            &__left {
                align-items: flex-end !important;

                @media #{$tablet} {
                    align-items: center !important;
                }

                @media #{$mobile} {
                    align-items: center !important;
                }
            }

            &__right {
                align-items: flex-start !important;

                @media #{$tablet} {
                    align-items: center !important;
                }

                @media #{$mobile} {
                    align-items: center !important;
                }
            }
        }
    }

    .second-section {
        height: 40px;
        border-bottom: 10px solid $main-color1;
    }
}

@keyframes sq-from-left {
    100% {
        transform: translate3d(308px, 0, 0);
    }
}

@keyframes sq-from-right {

    100% {
        transform: translate3d(-308px, 0, 0);
    }
}

.fadeInFromTop {
    animation: fadeInFromTop .8s forwards;
}

.fadeInFromLeft {
    animation: fadeInFromLeft .9s forwards;
    animation-delay: .8s;
}

.fadeInFromRight {
    animation: fadeInFromRight .9s forwards;
    animation-delay: .8s;
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translate3d(20%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
