.admin-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 40px;
        font-size: 18px;
        padding-left: 20px;
        color: #4e515a!important;

        &:hover {
            background: lightgray;
            text-decoration: none;
        }
    }
}
