footer {
    padding-top: 50px;
    background: $main-color3;

    .footer-up {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 50px;

        @media #{$tablet} {
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 30px;
            padding-bottom: 0;
        }

        @media #{$mobile} {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 30px;
            padding-bottom: 0;
        }

        &__item {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin-right: 30px;

            @media #{$tablet} {
                margin-bottom: 30px;
                flex: 0 34%;
            }

            @media #{$mobile} {
                margin-right: 0;
                margin-bottom: 30px;
                width: 100%;
            }

            .title {
                outline: none;
                color: white;
                margin: 0 0 30px 0;

                &.clickable {
                    cursor: pointer;

                    &:hover {
                        color: $main-color1;
                    }
                }
            }

            .text {
                color: $main-color5;

                &.text1 {
                    margin-bottom: 20px;
                }
            }

            &.services, &.brands {
                a {
                    text-decoration: none;
                    margin-bottom: 20px;

                    &:hover {
                        color: $main-color1;
                    }
                }
            }

            &.contact-us {
                .mat-form-field-label{
                    color: $main-color5 !important;
                }
                .mat-input-element::placeholder {
                    color: #75797d !important;
                }
                .mat-form-field-underline {
                    background-color: $main-color5 !important;
                }
                .mat-form-field-ripple {
                    background-color: $main-color5 !important;
                }

                input, textarea {
                    color: $main-color5;
                }

                .send-btn[disabled] {
                    background-color: $main-color5;
                    cursor: not-allowed;
                }
            }

            &_info-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 20px;
                white-space: pre-wrap;
            }

            &_small-img {
                padding-right: 20px;
            }

            .brands-link-wrapper {
                width: 190px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                a {
                    display: block;
                    width: 95px;
                }
            }
        }
    }

    .fronter-down-wrapper {
        border-top: 1px solid $main-color4;

        @media #{$mobile} {
            border-top: none;
        }
    }

    .footer-down {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$mobile} {
            flex-direction: column;
            align-items: center;
            height: 210px;

            & > div {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__logo {
            height: 100%;
            background: $main-color1;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$mobile} {
                width: 100%;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                img {
                    width: 175px;
                }
            }
        }

        &__copyright {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                font-size: 12px;
                color: $main-color5;

                a {
                    color: white;

                    &:hover {
                        color: $main-color1;
                    }
                }
            }
        }

        &__social {
            width: 210px;
            height: 100%;
            display: flex;
            border-right: 1px solid $main-color4;
            border-left: 1px solid $main-color4;

            @media #{$mobile} {
                border-top: 1px solid $main-color4;
            }

            .social-network {
                width: 70px;
                height: 100%;
                border-right: 1px solid $main-color4;
                cursor: pointer;
                transition: .2s ease-in-out;

                a {
                    width: 100%;
                    height: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }

                &:hover {
                    background: $main-color1;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
