.news-wrapper {
    height: 100%;
    //height: calc(100vh - 120px);
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: flex-end;
}

.news-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2vw;
    font-size: 1.2rem;
    line-height: 20px;
    margin-bottom: 25px;

    @media #{$noDesktop} {
        flex-direction: column;
    }

    .news-block {
        width: 22vw;
        margin-bottom: 40px;
        margin-right: 2vw;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border-radius: 4px;

        @media #{$noDesktop} {
            width: 100%;
        }

        &__header {
            .news-image {
                height: 275px;
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 10px;
                background-position: center;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;

                @media #{$noDesktop} {
                    background-size: contain;

                }
            }
        }

        &__content {
            height: 160px;
            padding: 5px;

            @media #{$noDesktop} {
                height: auto;
            }
        }

        &__title {
            height: 40px;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 5px;

            @media #{$noDesktop} {
                height: auto;
            }
        }

        &__short-text {
            font-size: 13px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 5px;
        }

        &__actions {
            display: flex;
            justify-content: space-between;
            padding: 5px;


            a {
                color: whitesmoke;
                background: $main-color2;
                font-weight: 300;
                font-size: 14px;
            }
        }

        &__date {
            font-weight: 300;
            font-size: 12px;
            display: flex;
            align-items: flex-end;
        }
    }
}
