.news-item-wrapper {
    display: flex;
    flex-direction: column;
}

.news-item-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    min-height: 339px;

    @media #{$noDesktop} {
        padding: 12px;
    }
}
